<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

<aside class="recent-viewed-container" th:fragment="RecentViewed">
    <div class="recent-viewed-box">
        <h2 class="recent-viewed-title text-20px">최근 본 상품</h2>
        <div class="recent-viewed-items">
            <div th:each="num : ${#numbers.sequence(1, 4)}" class="recent-item-placeholder"></div>
        </div>
        <button class="recent-viewed-more-button text-12px">더 보러가기</button>
    </div>
</aside>

</body>
</html>