<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div th:fragment="searchBar">
    <div class="searchbar-container">
        <div class="searchbar-location text-20px">
            <span th:text="${location} ?: '위치 정보 없음'"></span>
        </div>
        <div class="searchbar-input-wrapper">
            <input type="text" placeholder=" 상품명을 입력해주세요" class="searchbar-input text-14px" />
        </div>
    </div>
    <div class="popular-keywords text-14px">
        인기검색어: <span>굿즈</span> <span>플스</span> <span>냉장고</span> <span>다이슨</span>
        <span>자전거</span> <span>노트북</span> <span>의자</span> <span>책상</span>
        <span>아이패드</span> <span>에어팟</span>
    </div>
</div>
</body>
</html>