<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{admin/base :: layout(~{:: #stats-block}, ~{:: #main-block}, true)}">

	<div id="stats-block">
		<th:block th:replace="~{admin/stats :: statsRow('productMng')}"></th:block>
	</div>

    <div id="main-block" class="nDecMng">
	    <link rel="stylesheet" th:href="@{/css/inquiryList.css}">
		<link rel="stylesheet" th:href="@{/css/productMng.css}">
		<div id="main-block" class="inquiry-admin-list">
		    <div class="admin-content-header">
		        <h2>1:1 문의 관리</h2>
		    </div>
		
		    <table class="admin-table">
		        <thead>
		            <tr>
		                <th>번호</th>
		                <th>카테고리</th>
		                <th>제목</th>
		                <th>작성자</th>
		                <th>작성일</th>
		                <th>상태</th>
		                <th>관리</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="list : ${inquiryList}">
		                <td th:text="${list.inquiryId}">5</td>
		                <td th:text="${list.category}">계정문의</td>
		                <td class="text-left">
		                    <a th:href="@{/admin/helpPage/{id}(id=${list.inquiryId})}" th:text="${list.title}">이것 저것 문의드려요</a>
		                </td>
		                <td th:text="${list.userNo}"></td>
		                <td th:text="${#temporals.format(list.createdAt, 'yyyy-MM-dd')}">2026-02-27</td>
		                <td>
		                    <span th:class="'status-badge ' + ${list.status.toLowerCase()}" 
		                          th:text="${list.status == 'OPEN' ? '답변대기' : '답변완료'}"></span>
		                </td>
		                <td>
		                    <a th:href="@{/admin/helpPage/{id}(id=${list.inquiryId})}" class="btn-sm-reply">답변하기</a>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		    <div class="pagination">
				    <a class="prev" th:if="${pi.currentPage > 1}" 
				       th:href="@{|/admin/inquiry?page=${pi.currentPage - 1}|}">&lt;</a>
				
				    <span th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
				        <a th:if="${p != pi.currentPage}" 
				           th:href="@{|/help/helpList?page=${p}|}"
				           th:text="${p}"></a>
				        <span th:if="${p == pi.currentPage}" 
				              th:text="${p}" 
				              class="active"></span>
				    </span>
				
				    <a class="next" th:if="${pi.currentPage < pi.maxPage}" 
				       th:href="@{|/admin/inquiry?page=${pi.currentPage + 1}|}">&gt;</a>
				</div>
		</div>
	  
	    <script th:src="@{/js/admin/productMng.js}"></script>
	</div>
</th:block>
</html>