<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{admin/base :: layout(~{:: #stats-block}, ~{:: #main-block}, true)}">

	<div id="stats-block">
		<th:block th:replace="~{admin/stats :: statsRow('productMng')}"></th:block>
	</div>

    <div id="main-block" class="nDecMng">
	    <link rel="stylesheet" th:href="@{/css/inquiryAdmin.css}">
	
	   
		
		<!-- <div class="pagination">
		    <a class="prev" th:if="${pi.currentPage > 1}" 
		       th:href="@{|/admin/productMng?page=${pi.currentPage - 1}|}">&lt;</a>
		
		    <span th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
		        <a th:if="${p != pi.currentPage}" 
		           th:href="@{|/admin/productMng?page=${p}|}"
		           th:text="${p}"></a>
		        <span th:if="${p == pi.currentPage}" 
		              th:text="${p}" 
		              class="active"></span>
		    </span>
		
		    <a class="next" th:if="${pi.currentPage < pi.maxPage}" 
		       th:href="@{|/admin/productMng?page=${pi.currentPage + 1}|}">&gt;</a>
		</div> -->
	    <script th:src="@{/js/admin/productMng.js}"></script>
	</div>
</th:block>
</html>