<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{admin/base :: layout(~{:: #stats-block}, ~{:: #main-block}, true)}">

	<div id="stats-block">
		<th:block th:replace="~{admin/stats :: statsRow('productMng')}"></th:block>
	</div>

    <div id="main-block" class="nDecMng">
	    <link rel="stylesheet" th:href="@{/css/productMng.css}">
	
	    <div class="all-post">
	        <div class="post-header">
	            <h2 class="section-title">All Post</h2>
	            <div class="search-container">
				    <form id="searchForm">
				        <input type="text" name="keyword" placeholder="회원 이름, 닉네임, 상품명, 내용으로 검색">
				        <button type="submit" class="search-btn">
				            <i class="fas fa-search"></i>
				        </button>
				    </form>
				</div>

	        </div>
	
	        <div class="post-grid">
	            <div class="post-card" th:each="list : ${productList}" th:data-product-no="${list.productNo}">
	                <div class="post-image">
	                    <img th:src="${list.thumbnailUrl}">
                         <div class="disabled-overlay" th:if="${list.status == 'N'}">비활성화됨</div>
	                    
	                </div>
	                <div class="post-content">
	                    <div class="post-location" th:text="${list.location}"></div>
	                    <div class="post-title" th:text="${list.name}"></div>
	                    <div class="post-price" th:text="|${list.price}원||"></div>
	                    <div class="post-seller" th:text="|판매자: ${list.sellerNickname}|"></div>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div id="productModal" class="product-modal-overlay">
		    <div class="product-modal-content">
		        <div class="modal-breadcrumb"></div>
		
		        <div class="modal-body-top">
		            <div class="modal-image">
		                <img src="" class="img">
		            </div>
		            <div class="product-modal-info">
		                <div class="modal-location"></div>
		                <div class="modal-title"></div>
		                <div class="modal-price"></div>
		                <div class="modal-seller"></div>
		            </div>
		        </div>
		
		        <div class="modal-description">
		        </div>
		
		        <div class="product-modal-footer">
		            <button type="button" class="deactivate-btn">비활성화</button>
		        </div>
		    </div>
		</div>
		
		<div class="pagination">
		    <a class="prev" th:if="${pi.currentPage > 1}" 
		       th:href="@{|/admin/productMng?page=${pi.currentPage - 1}|}">&lt;</a>
		
		    <span th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
		        <a th:if="${p != pi.currentPage}" 
		           th:href="@{|/admin/productMng?page=${p}|}"
		           th:text="${p}"></a>
		        <span th:if="${p == pi.currentPage}" 
		              th:text="${p}" 
		              class="active"></span>
		    </span>
		
		    <a class="next" th:if="${pi.currentPage < pi.maxPage}" 
		       th:href="@{|/admin/productMng?page=${pi.currentPage + 1}|}">&gt;</a>
		</div>
	    <script th:src="@{/js/admin/productMng.js}"></script>
	</div>
</th:block>
</html>