<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="reportsidebar" class="report-sidebar">
  <div class="report-header text-16px">
    <span style="color: #ff4d4f;" class="fw-bold">3</span> 건의 신고가 발생했습니다.
  </div>

  <div class="report-list">
    <div class="report-item">
      <div class="report-avatar">
        <i class="fa-regular fa-circle-user"></i>
      </div>
      <div class="report-content">
        <div class="report-top">
          <span class="nickname text-18px fw-bold">동준이동동</span>
          <span class="date text-14px">2025.05.20/20:08</span>
        </div>
        <div class="report-text text-16px">
          실제 존재하지 않거나, 타인의 상품 사진을 도용하여 등록된 게시글인것같습니다....
        </div>
      </div>
    </div>

    <div class="report-item">
      <div class="report-avatar">
        <i class="fa-regular fa-circle-user"></i>
      </div>
      <div class="report-content">
        <div class="report-top">
          <span class="nickname text-18px fw-bold">성현이에용</span>
          <span class="date text-14px">2025.05.20/17:38</span>
        </div>
        <div class="report-text text-16px">
          시세보다 터무니없이 저렴한 가격으로 관심을 유도한 후, 외부 링크나 계좌이체를...
        </div>
      </div>
    </div>

    <div class="report-item">
      <div class="report-avatar">
        <i class="fa-regular fa-circle-user"></i>
      </div>
      <div class="report-content">
        <div class="report-top">
          <span class="nickname text-18px fw-bold">창백한왕자</span>
          <span class="date text-14px">2025.05.20/13:50</span>
        </div>
        <div class="report-text text-16px">
          채팅 또는 댓글에서 상대방을 향한 욕설이나 비하 발언 등, 채팅방 내에서 부적절한...
        </div>
      </div>
    </div>
  </div>
</div>
</html>