<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="statsRow" class="stats-section">
  <div class="stats-row">
    <div class="stat-card blue-bg">
      <div class="stat-title text-14px fw-bold">일일 접속자수</div>
      <div class="stat-value-row">
        <span class="stat-number count-up text-32px fw-bold" data-target="1025">0</span>
        <span class="stat-trend text-14px">+325 <i class="fa-solid fa-arrow-trend-up"></i></span>
      </div>
    </div>
    <div class="stat-card purple-bg">
      <div class="stat-title text-14px fw-bold">일일 거래횟수</div>
      <div class="stat-value-row">
        <span class="stat-number count-up text-32px fw-bold" data-target="320">0</span>
        <span class="stat-trend down text-14px">-15 <i class="fa-solid fa-arrow-trend-down"></i></span>
      </div>
    </div>
    <div class="stat-card blue-bg">
      <div class="stat-title text-14px fw-bold">일일 회원가입 수</div>
      <div class="stat-value-row">
        <span class="stat-number count-up text-32px fw-bold" data-target="125">0</span>
        <span class="stat-trend text-14px">+65 <i class="fa-solid fa-arrow-trend-up"></i></span>
      </div>
    </div>
  </div>
</div>
</html>