<!-- src/main/resources/templates/user/profile.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내 정보 수정</title>
<link rel="stylesheet" th:href="@{/css/App.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/myInfoSideBar.css}">
<link rel="stylesheet" th:href="@{/css/myInfo.css}">
</head>
<body>
	<div class="app-container">
		<div th:replace="~{common/header :: header}"></div>
		<div th:replace="~{common/searchBar :: searchBar}"></div>

		<main class="main-wrap">
			<!-- 사이드바 -->
			<div th:replace="~{user/sidebar :: sidebar}"></div>

			<!-- 프로필/폼 영역 -->
			<section class="profile-area">



				<!-- 내 정보 수정 폼 -->
				<div class="profile-form-card">
					<h1>내 정보 수정</h1>
					<form th:action="@{/user/update}" method="post"
						enctype="multipart/form-data" class="profile-form">
						<input type="hidden" id="userNo" th:value="${loginUser.userNo}" name="userNo">
						<!-- 프로필 아바타 (form 안으로 이동) -->
						<div class="form-row">
							<label>프로필 이미지</label>
							<div class="avatar-wrap">
								<img class="avatar" id="avatarPreview"
									th:src="${loginUser != null ? loginUser.imageUrl : '/image/default-avatar.png'}">


								<input type="file" id="avatarInput" accept="image/*"
									style="display: none;" name="avatarFile">
							</div>
							<div class="trust">
								<div class="trust-label">
									<span>Trust Guage</span> <span class="trust-percent">92%</span>
								</div>
								<div class="trust-bar">
									<div class="trust-fill" style="width: 92%"></div>
								</div>
							</div>
						</div>


						<div class="form-row">
							<label for="nickname">닉네임</label> <input id="nickname"
								name="nickname" type="text" th:value="${loginUser.nickname}">
						</div>

						<div class="form-row horizontal">
							<label for="email">Email</label> 
							<input id="email" name="email" type="email" th:value="${loginUser.email}" required>
							<div class="col-col">
								<button type="button" id="emailAuthBtn" class="btn-small">Email 인증</button>
							</div>
						</div>

						<!-- 인증번호 입력란 (처음엔 숨김) -->
						<div class="form-row" id="emailAuthCodeRow" style="display: none;">
							<label for="authCode">인증번호</label> <input id="authCode"
								name="authCode" type="text" placeholder="인증번호 입력">
							<button type="button" id="verifyAuthBtn" class="btn-small">확인</button>
						</div>

						<hr class="divider">

						<div class="form-row">
							<label for="currentPwd">현재 비밀번호</label> <input id="currentPwd"
								name="currentPwd" type="password" placeholder="현재 비밀번호">
						</div>

						<div class="form-row">
							<label for="newPwd">새 비밀번호</label> <input id="newPwd"
								name="newPwd" type="password" placeholder="변경할 비밀번호">
						</div>

						<div class="form-row">
							<label for="confirmPwd">비밀번호 확인</label> <input id="confirmPwd"
								name="confirmPwd" type="password" placeholder="비밀번호 확인">
						</div>

						<button type="button" class="btn-primary full changeInfoBtn">변경하기</button>
					</form>
				</div>

			</section>
		</main>
	</div>
	<div th:if="${msg}">
		<script th:inline="javascript">
			alert('[[${msg}]]');
		</script>
	</div>
	<script th:src="@{/js/user/header.js}"></script>
	<script th:src="@{/js/user/myInfo.js}"></script>
</body>
</html>
