<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- src/main/resources/templates/common/sidebar.html -->
<!-- src/main/resources/templates/common/sidebar.html -->
<div th:fragment="sidebar">
    <aside class="my-sidebar">
        <h3 class="sidebar-title text-36px fw-bold">마이 페이지</h3>

        <nav class="sidebar-section">
            <h4 class="section-title text-28px fw-medium">거래 정보</h4>
            <ul class="sidebar-menu text-22px fw-regular">
            	<li id="myProduct"><a th:href="@{/user/myProduct}" th:classappend="${requestURI == '/user/myProduct'} ? 'active'">내 등록 상품</a></li>
                <li><a th:href="@{/user/mySellList}" th:classappend="${requestURI == '/user/mySellList'} ? 'active'">판매내역</a></li>
                <li><a href="#">구매내역</a></li>
                <li><a href="#">찜한상품</a></li>
            </ul>
        </nav>
        
        <hr style="border: 1px solid #EAEAEA;" />

        <nav class="sidebar-section">
            <h4 class="section-title text-28px fw-medium">내 정보</h4>
            <ul class="sidebar-menu text-22px fw-regularㄴ">
                <li id="myInfoEdit"><a th:href="@{/user/editProfile}" th:classappend="${requestURI == '/user/editProfile'} ? 'active'">내 정보 수정</a></li>
            </ul>
        </nav>
    </aside>
</div>
	
</body>
</html>