<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Deal-On</title>

<link rel="stylesheet" th:href="@{/css/App.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/Home.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet" th:href="@{/css/SignIn.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">

</head>
<body>
	<div class="app-container">
		<div th:replace="~{common/header :: header}"></div>
		<div th:replace="~{common/searchBar :: searchBar}"></div>
	</div>

	<div class="signup-container">
		<h2>회원가입</h2>
		<form action="/user/signUp" method="post" id="signUpForm">
			<div class="input-group">
				<input type="hidden" name="socialId" th:value= "${socialId != null ? socialId : ''}">
			</div>
			<div class="input-group">
				<label for="username">아이디</label> <input type="text" id="id"
					name="id">
				<p id="idCheck" style="display: none; color: green">사용 가능한
					아이디입니다.</p>
			</div>
			<div class="input-group password-group">
				<label for="password">비밀번호</label>
				<div class="password-row">
					<input type="password" id="password" name="pwd"> <small
						class="pwd-hint">8~16자, 영문·숫자·특수문자 포함</small>
				</div>
			</div>
			<div class="input-group">
				<label for="password-confirm">비밀번호 확인</label> <input type="password"
					id="password-confirm" name="password-confirm">
			</div>
			<div class="input-group">
				<label for="email">이메일 주소</label> <input type="email" id="email"
					name="email">
			</div>
			<div class="input-group">
				<label for="name">이름</label> <input type="text" id="name"
					name="name">
			</div>
			<div class="input-group">
				<label for="nickname">닉네임</label> <input type="text" id="nickname"
					name="nickname" th:value="${nickname != null ? nickname : ''}">
			</div>
			<div class="input-group phone-group">
				<label for="phone">휴대전화번호</label>
				<div class="phone-input-row">
					<input type="tel" id="phone" name="phone">
					<button type="button" class="verify-btn">본인인증</button>
				</div>
			</div>
			<div class="input-group auth-group" id="authSection"
				style="display: none;">
				<label for="authCode">인증번호</label>
				<div class="auth-input-row">
					<input type="text" id="authCode" name="authCode"
						placeholder="인증번호 입력">
					<button type="button" class="auth-check-btn" id="checkAuthBtn">확인하기</button>
				</div>
			</div>
			<button type="button" class="signup-btn">가입하기</button>
		</form>
	</div>
	<div th:replace="~{common/footer :: footer}"></div> 
	<!-- 회원가입 실패 메시지 -->
	<div th:if="${errorMessage}">
		<script th:inline="javascript">
			alert('[[${errorMessage}]]');
		</script>
	</div>
	<div th:if="${param.msg}">
		<script th:inline="javascript">
			alert('소셜 로그인 최초 이용 시 간단한 회원가입이 필요합니다.');
		</script>
	</div>
	<script th:src="@{/js/user/signIn.js}"></script>
	<script th:src="@{/js/user/signIn.js}"></script>
</body>
</html>