.dashboard-body {
    width: 1150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* .content-area 높이 */
    height: 100%;

    overflow-y: auto;

    padding-right: 10px;
    padding-bottom: 20px;
}

/* 통계 카드 */
.stats-row {
    display: flex;
    gap: 20px;
    flex-shrink: 0; /* 스크롤 시 찌그러짐 방지 */
}

.stat-card {
    flex: 1;
    height: 120px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blue-bg { background-color: #EBF3FE; }
.purple-bg { background-color: #F3EAFD; }
.beige-bg { background-color: #FFF5E6; }

.stat-title { color: #555; margin-bottom: 10px; }
.stat-value-row { display: flex; justify-content: space-between; align-items: flex-end; }
.stat-number { color: #000; }
.stat-trend { color: #555; display: flex; align-items: center; gap: 5px; }
.stat-trend.down { color: #333; }

/* 차트 컨테이너 */
.chart-container {
    background: #f7f7f7;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    flex-shrink: 0;
}

.big-chart { height: 400px; display: flex; flex-direction: column; margin-bottom: 20px}
.chart-header { display: flex; gap: 20px; margin-bottom: 10px; align-items: center; color: #888; position: relative;}
.chart-tab { cursor: pointer; }
.chart-tab.active { color: #000; border-bottom: 2px solid #000; }

.bottom-charts {
    display: flex;
    gap: 20px;
    height: 280px;
    width: 100%;
    flex-shrink: 0;
}
.half-chart {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-width: 0;
}
.chart-title-sm { margin-bottom: 15px; }
.chart-placeholder {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed #ddd;
    border-radius: 8px;
}