<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deal-On</title>
    <link rel="stylesheet" th:href="@{/css/App.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
</head>
<body>
<div class="app-container">
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/searchBar :: searchBar}"></div>
    <div class="home-page-container">
        <div class="home-content-layout">
         <main class="home-main-content">
            <section class="product-section">
               <input id="userNo" type="hidden" th:value="${session.loginUser != null ? session.loginUser.userNo : 'guest'}">

               <div class="section-header">
                  <h2 class="section-title text-46px">전체 상품</h2>
                  <a href="/products/mainProduct?source=allProduct" class="more-button-link">
                     <button class="more-button text-16px">더보기</button>
                  </a>
               </div>

               <div class="horizontal-container draggable-list">
                  <a th:each="product : ${allList}" th:href="@{/product/detail/{id}(id=${product.productNo})}" class="product-link" style="text-decoration: none; color: inherit;">
                     <div class="product-item">
                        <div class="product-image-placeholder" th:style="'background-image:url(' + ${product.thumbnailUrl} + '); background-size:cover;'">
                        </div>
                        <div class="product-details">
                           <div class="product-title text-20px fw-medium" th:text="${product.name}">상품명</div>
                           <div class="product-price text-22px fw-bold">
                              <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></span>
                              <span class="text-16px"> 원</span>
                           </div>
                           <div class="product-meta text-14px fw-medium">
                              <div>
                                 <span class="location" th:attr="data-location=${product.location}">위치</span>
                                 <span> | </span>
                                 <span class="time-ago" th:attr="data-date=${product.createDate}">등록일</span>
                              </div>
                              <span class="meta-likes">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 30 30" width="22" height="22" style="vertical-align: -6px; fill: #888888;">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                </svg>
                                <span th:text="${product.wishlistCount}">0</span>
                            </span>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
               <div class="custom-scrollbar">
                  <div class="scrollbar-thumb"></div>
               </div>
            </section>

            <section class="product-section">
               <input id="userNo" type="hidden" th:value="${session.loginUser != null ? session.loginUser.userNo : 'guest'}">

               <div class="section-header">
                  <h2 class="section-title text-46px">인기 상품</h2>
                  <a href="/products/mainProduct?source=bestProduct" class="more-button-link">
                     <button class="more-button text-16px">더보기</button>
                  </a>
               </div>

               <div class="horizontal-container draggable-list">
                  <a th:each="product : ${bestList}" th:href="@{/product/detail/{id}(id=${product.productNo})}" class="product-link" style="text-decoration: none; color: inherit;">
                     <div class="product-item">
                        <div class="product-image-placeholder" th:style="'background-image:url(' + ${product.thumbnailUrl} + '); background-size:cover;'">
                        </div>
                        <div class="product-details">
                           <div class="product-title text-20px fw-medium" th:text="${product.name}">상품명</div>
                           <div class="product-price text-22px fw-bold">
                              <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></span>
                              <span class="text-16px"> 원</span>
                           </div>
                           <div class="product-meta text-14px fw-medium">
                              <div>
                                 <span class="location" th:attr="data-location=${product.location}">위치</span>
                                 <span> | </span>
                                 <span class="time-ago" th:attr="data-date=${product.createDate}">등록일</span>
                              </div>
                              <span class="meta-likes">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 30 30" width="22" height="22" style="vertical-align: -6px; fill: #888888;">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                </svg>
                                <span th:text="${product.wishlistCount}">0</span>
                            </span>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
               <div class="custom-scrollbar">
                  <div class="scrollbar-thumb"></div>
               </div>
            </section>

            <section class="product-section">
               <input id="userNo" type="hidden" th:value="${session.loginUser != null ? session.loginUser.userNo : 'guest'}">

               <div class="section-header">
                  <h2 class="section-title text-46px">최신 상품</h2>
                  <a href="/products/mainProduct?source=recentProduct" class="more-button-link">
                     <button class="more-button text-16px">더보기</button>
                  </a>
               </div>

               <div class="horizontal-container draggable-list">
                  <a th:each="product : ${recentList}" th:href="@{/product/detail/{id}(id=${product.productNo})}" class="product-link" style="text-decoration: none; color: inherit;">
                     <div class="product-item">
                        <div class="product-image-placeholder" th:style="'background-image:url(' + ${product.thumbnailUrl} + '); background-size:cover;'">
                        </div>
                        <div class="product-details">
                           <div class="product-title text-20px fw-medium" th:text="${product.name}">상품명</div>
                           <div class="product-price text-22px fw-bold">
                              <span th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></span>
                              <span class="text-16px"> 원</span>
                           </div>
                           <div class="product-meta text-14px fw-medium">
                              <div>
                                 <span class="location" th:attr="data-location=${product.location}">위치</span>
                                 <span> | </span>
                                 <span class="time-ago" th:attr="data-date=${product.createDate}">등록일</span>
                              </div>
                              <span class="meta-likes">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 30 30" width="22" height="22" style="vertical-align: -6px; fill: #888888;">
                                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                </svg>
                                <span th:text="${product.wishlistCount}">0</span>
                            </span>
                           </div>
                        </div>
                     </div>
                  </a>
               </div>
               <div class="custom-scrollbar">
                  <div class="scrollbar-thumb"></div>
               </div>
            </section>
         </main>

            <div th:replace="~{common/RecentViewed :: RecentViewed}"></div>
        </div>
    </div>
</div>
<!-- 메인페이지, redirect:/ 가 렌더링될 곳 -->
<div th:if="${loginSuccessMessage}">
    <script th:if="${loginSuccessMessage}">
       alert('[[${loginSuccessMessage}]]');
   </script>
</div>

<!-- 로그인 페이지 -->
<div th:if="${loginFailMessage}">
    <script th:if="${loginFailMessage}">
       alert('[[${loginFailMessage}]]');
    </script>
</div>
<div th:if="${logoutSuccessMessage}">
    <script th:if="logoutSuccessMessage">
       alert('[[${logoutSuccessMessage}]]');
    </script>
</div>
<script th:src="@{/js/common/main.js}"></script>
<script th:src="@{/js/user/header.js}"></script>
<script th:src="@{/js/common/searchBar.js}"></script>
<script th:src="@{/js/common/recentViews.js}"></script>
<script th:src="@{/js/product/list.js}   "></script>
<script th:src="@{/js/user/myProduct.js}"></script>

</body>
</html>