<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dealOn.admin.model.mapper.AdminMapper">
	<select id="getProductDetail">
		SELECT
            P.NO AS PRODUCT_NO,
            P.USER_NO,
            P.NAME,
            P.DETAIL,
            TO_CHAR(P.CREATE_DATE, 'YYYY-MM-DD HH24:MI') AS CREATE_DATE,
            P.SALES_LOCATION AS LOCATION,
            COALESCE(TO_NUMBER(N.VIEWS), TO_NUMBER(A.VIEWS)) AS VIEWS,
            C.NAME AS CATEGORY_NAME,
            P.CATEGORY AS CATEGORY_NO, U.NICKNAME AS SELLER_NICKNAME,
            U.IMAGEURL AS SELLER_PROFILE_IMAGE,
            U.TRUST AS SELLER_TRUST,
            N.PRICE AS price,
            N.STATE AS PRODUCT_STATE,
            A.START_PRICE,
            A.CURRENT_PRICE AS currentPrice,
            A.END_DATE,
            U.USER_NO,
            P.STATUS,
            CASE WHEN N.NO IS NOT NULL THEN 'NORMAL' ELSE 'AUCTION' END AS PRODUCT_TYPE,
            (SELECT COUNT(*) FROM WISHLIST WHERE PRODUCT_NO = P.NO) AS WISHLIST_COUNT,
            (SELECT IM.IMAGE_URL
	        FROM IMAGES IM
	        WHERE IM.ENTITY_TYPE = 'PRODUCT' AND IM.ENTITY_ID = P.NO
	        ORDER BY IM.IMAGE_ID ASC
	        FETCH FIRST 1 ROW ONLY) AS THUMBNAIL_URL
        FROM PRODUCT P
                 LEFT JOIN NORMAL N ON P.NO = N.NO2
                 LEFT JOIN AUCTION A ON P.NO = A.NO2
                 LEFT JOIN USERS U ON P.USER_NO = U.USER_NO
                 LEFT JOIN CATEGORY C ON P.CATEGORY = C.NO
        WHERE P.NO = #{productNo}
	</select>
	<update id="updateProductStatus">
		update product
		set status=#{newStatus}
		where no = #{productNo}
	</update>
	
	<select id="getAllProduct">
        SELECT DISTINCT
        P.NO AS PRODUCT_NO, P.NAME, NP.PRICE, NP.REGION, P.CREATE_DATE, P.sales_location as location, NP.VIEWS,
        (SELECT IM.IMAGE_URL
        FROM IMAGES IM
        WHERE IM.ENTITY_TYPE = 'PRODUCT' AND IM.ENTITY_ID = P.NO
        ORDER BY IM.IMAGE_ID ASC
        FETCH FIRST 1 ROW ONLY) AS THUMBNAIL_URL,
        (SELECT COUNT(*) FROM WISHLIST WHERE PRODUCT_NO = P.NO) AS WISHLIST_COUNT,
        CASE
        WHEN NP.NO IS NOT NULL THEN 'USED'
        ELSE 'AUCTION'
        END AS PRODUCT_TYPE,
        C.NAME AS CATEGORY_NAME,
        NP.STATE AS PRODUCT_STATE,
        P.STATUS,
        U.NICKNAME AS seller_nickname
        FROM PRODUCT P
        JOIN NORMAL NP ON P.NO = NP.NO2
        JOIN IMAGES IMG ON ENTITY_ID = P.NO
        LEFT JOIN CATEGORY C ON P.CATEGORY = C.NO
        LEFT JOIN USERS U ON P.USER_NO = U.USER_NO
    </select>
    <select id="searchProducts">
    	SELECT DISTINCT
		    P.NO AS PRODUCT_NO,
		    P.NAME,
		    NP.PRICE,
		    NP.REGION,
		    P.CREATE_DATE,
		    P.SALES_LOCATION AS LOCATION,
		    NP.VIEWS,
		    (
		        SELECT IM.IMAGE_URL
		        FROM IMAGES IM
		        WHERE IM.ENTITY_TYPE = 'PRODUCT'
		          AND IM.ENTITY_ID = P.NO
		        ORDER BY IM.IMAGE_ID ASC
		        FETCH FIRST 1 ROW ONLY
		    ) AS THUMBNAIL_URL,
		    (
		        SELECT COUNT(*)
		        FROM WISHLIST
		        WHERE PRODUCT_NO = P.NO
		    ) AS WISHLIST_COUNT,
		    CASE
		        WHEN NP.NO IS NOT NULL THEN 'USED'
		        ELSE 'AUCTION'
		    END AS PRODUCT_TYPE,
		    C.NAME AS CATEGORY_NAME,
		    NP.STATE AS PRODUCT_STATE,
		    P.STATUS,
		    U.NICKNAME AS SELLER_NICKNAME
		FROM PRODUCT P
		JOIN NORMAL NP ON P.NO = NP.NO2
		JOIN IMAGES IMG ON IMG.ENTITY_ID = P.NO
		LEFT JOIN CATEGORY C ON P.CATEGORY = C.NO
		LEFT JOIN USERS U ON P.USER_NO = U.USER_NO
		WHERE 
		    (
		        LOWER(P.NAME) LIKE LOWER('%' || #{keyword} || '%') OR
		        LOWER(P.DETAIL) LIKE LOWER('%' || #{keyword} || '%') OR
		        LOWER(U.NICKNAME) LIKE LOWER('%' || #{keyword} || '%') OR
		        LOWER(U.NAME) LIKE LOWER('%' || #{keyword} || '%')
		    )
		    	
    </select>
</mapper>