<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dealOn.chat.model.mapper.ChatMapper">
	<select id="findSellerId">
		SELECT USER_NO
		FROM PRODUCT
		WHERE NO = #{productNo}
	</select>
	<select id="findChatRoom">
	SELECT DISTINCT CR.CHAT_NO,
		   CR.BUYER_NO,
		   CR.SELLER_NO,
		   CR.PRODUCT_NO,
		   CR.CREATE_DATE,
		   NP.PRICE,
           P.NAME,
           (SELECT IMAGE_URL 
            FROM IMAGES 
            WHERE ENTITY_ID = P.NO 
            AND ROWNUM = 1) AS IMAGE_URL,
	CASE WHEN
		   CR.BUYER_NO = #{userNo} THEN US.NICKNAME
	ELSE
		   UB.NICKNAME
	END AS NICKNAME
	FROM CHAT_ROOM CR
	JOIN USERS UB ON CR.BUYER_NO = UB.USER_NO
	JOIN USERS US ON CR.SELLER_NO = US.USER_NO
	JOIN PRODUCT P ON CR.PRODUCT_NO = P.NO
	JOIN NORMAL NP ON NP.NO2 = P.NO
	JOIN IMAGES I ON ENTITY_ID = P.NO
	WHERE
		  CR.PRODUCT_NO=#{productNo} AND
		  ((BUYER_NO = #{buyerNo} AND SELLER_NO = #{sellerNo}) OR
       	  (BUYER_NO = #{sellerNo} AND SELLER_NO = #{buyerNo}))
		    
		   
	<if test="chatNo != null">
		   and chat_no = #{chatNo}
	</if>

	</select>
	<insert id="createChatRoom">
		INSERT INTO CHAT_ROOM
		(BUYER_NO, SELLER_NO, PRODUCT_NO, CREATE_DATE)
		VALUES (#{buyerNo}, #{sellerNo}, #{productNo}, SYSDATE)
	</insert>
	<select id="findByChatNo">
		SELECT DISTINCT CR.CHAT_NO,
		CR.BUYER_NO,
		CR.SELLER_NO,
		CR.PRODUCT_NO,
		CR.CREATE_DATE,
		P.NAME AS PRODUCT_NAME,
		NP.PRICE AS PRODUCT_PRICE,
		CASE WHEN 
			CR.BUYER_NO = #{userNo} THEN US.NICKNAME
		ELSE 
			UB.NICKNAME
		END AS NICKNAME,
		(SELECT IMAGE_URL 
            FROM IMAGES 
            WHERE ENTITY_ID = P.NO 
            AND ROWNUM = 1) AS IMAGE_URL
		FROM CHAT_ROOM CR

		JOIN PRODUCT P ON CR.PRODUCT_NO = P.NO
		JOIN USERS UB ON CR.BUYER_NO = UB.USER_NO
		JOIN USERS US ON CR.SELLER_NO = US.USER_NO
		LEFT JOIN NORMAL NP ON P.NO = NP.NO2
		LEFT JOIN IMAGES I ON I.ENTITY_ID = P.NO

		WHERE CHAT_NO=#{chatNo}
		ORDER BY CR.CREATE_DATE DESC
	</select>
	<select id="findChatRoomsByUser">
		SELECT DISTINCT CR.CHAT_NO,
		CR.BUYER_NO,
		CR.SELLER_NO,
		CR.PRODUCT_NO,
		CR.CREATE_DATE,
		P.NAME AS PRODUCT_NAME,
		NP.PRICE AS PRODUCT_PRICE,
		CASE WHEN 
			CR.BUYER_NO = #{userNo} THEN US.NICKNAME
		ELSE 
			UB.NICKNAME
		END AS NICKNAME,
		(SELECT IMAGE_URL 
            FROM IMAGES 
            WHERE ENTITY_ID = P.NO 
            AND ROWNUM = 1) AS IMAGE_URL
		FROM CHAT_ROOM CR

		JOIN PRODUCT P ON CR.PRODUCT_NO = P.NO
		JOIN USERS UB ON CR.BUYER_NO = UB.USER_NO
		JOIN USERS US ON CR.SELLER_NO = US.USER_NO
		LEFT JOIN NORMAL NP ON P.NO = NP.NO2
		LEFT JOIN IMAGES I ON I.ENTITY_ID = P.NO

		WHERE CR.BUYER_NO = #{userNo} or
			   CR.SELLER_NO = #{userNo}
		ORDER BY CR.CREATE_DATE DESC
	</select>
	<select id="findByChatInfo">
		SELECT DISTINCT CR.CHAT_NO,
		   CR.BUYER_NO,
		   CR.SELLER_NO,
		   CR.PRODUCT_NO,
		   CR.CREATE_DATE,
		   NP.PRICE,
           P.NAME,
           (SELECT IMAGE_URL 
            FROM IMAGES 
            WHERE ENTITY_ID = P.NO 
            AND ROWNUM = 1) AS IMAGE_URL,
	CASE WHEN
		   CR.BUYER_NO = #{userNo} THEN US.NICKNAME
	ELSE
		   UB.NICKNAME
	END AS NICKNAME
	FROM CHAT_ROOM CR
	JOIN USERS UB ON CR.BUYER_NO = UB.USER_NO
	JOIN USERS US ON CR.SELLER_NO = US.USER_NO
	LEFT JOIN PRODUCT P ON CR.PRODUCT_NO = P.NO
	LEFT JOIN NORMAL NP ON NP.NO2 = P.NO
	LEFT JOIN IMAGES I ON ENTITY_ID = P.NO
	WHERE
		chat_no = #{chatNo}
	</select>
</mapper>