<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dealOn.inquiry.model.mapper.InquiryMapper">
	<insert id="insertInquiry"
	        useGeneratedKeys="true"
	        keyProperty="inquiryId"
	        keyColumn="INQUIRY_ID">
	
	    INSERT INTO inquiry (
	        category,
	        title,
	        user_no,
	        image_url,
	        created_at,
	        last_answer_role
	        
	    )
	    VALUES (
	        #{category},
	        #{title},
	        #{userNo},
	        #{imageUrl},
	        sysdate,
	        default
	    )	
	</insert>
	<insert id="insertInquiryDetail">
	    INSERT INTO inquiry_details
	    (inquiry_id, writer_id, role, content, created_at)
	    VALUES
	    (#{inquiryId}, #{writerId}, #{role}, #{content}, sysdate)
	</insert>
	<select id="getInquiryDetail">
		select * 
		from inquiry_details
		where inquiry_id = #{inquiryId}
		order by created_at asc
	</select>
	<select id="getInquiry">
		select i.image_url, i.last_answer_role, i.inquiry_id, i.user_no, i.category, i.title, i.status, i.created_at, u.imageurl as uImageUrl, u.nickname, u.email
		from inquiry i 
			 join users u on i.user_no = u.user_no
		where inquiry_id = #{inquiryId}
	</select>
	<select id="getAllInquiry">
		select * 
		from inquiry
		where user_no=#{userNo}
	</select>
	<select id="getInquiryCount">
		select count(*)
		from inquiry
		where user_no = #{userNo}
	</select>
	<insert id="addInquiry">
		insert into inquiry_details(inquiry_id, writer_id, role,content, created_at)
		values(#{inquiryId}, #{writerId}, #{role}, #{content}, sysdate)
	</insert>
	<select id="getAllInquiryCount">
		select count(*)
		from inquiry
		where status='OPEN'
	</select>
	<select id = "getAllInquiryList">
		select *
		from inquiry
		where status= 'OPEN'
	</select>
	<update id="resolveInquiry">
		update inquiry
		set status = 'CLOSED'
		where inquiry_id = #{inquiryId}
	</update>
	<update id="setInquiryRole">
		update inquiry
		set last_answer_role = #{lastAnswerRole}
		where inquiry_id = #{inquiryId}
	</update>
	<select id="getFinishedInquiry">
		select * 
		from inquiry
		where status='CLOSED'
	</select>
	<select id="getFinishedInquiryCount">
		select count(*)
		from inquiry
		where status='CLOSED'
	</select>
		
</mapper>