<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dealOn.user.model.mapper.UserMapper">
	<select id="idCheck">
		select count(*) from users where id=#{id}
	</select>
	<select id="nicknameCheck">
		select count(*) 
		from users 
		where nickname=#{nickname}
		<if test="userNo != null">
	        AND user_no != #{userNo}
	    </if>
	</select>
	<insert id="insertUser">
    INSERT INTO users (
    	id,pwd,phone,email,nickname,trust,region,badge,name, social_id,uuid
    ) 
    VALUES (
    	#{id},#{pwd},#{phone},#{email},#{nickname},0, 'default', 'default', #{name}, #{socialId}, #{uuid}
    )
</insert>
<select id="login">
	select * from users where id=#{id} and state='Y'
</select>
<select id="phoneCheck">
	select count(*) from users where phone=#{phone}
</select>
<select id="findBySocialId">
	select * from users where social_id=#{socialId}
</select>
<update id="updateUser">
	UPDATE users 
	SET nickname = #{nickname},
	    email = #{email},
	    imageUrl = #{imageUrl}
	<if test="pwd != null">
		,pwd = #{pwd}
	</if>
	WHERE id = #{id}
</update>
<insert id="insertUserProfileImage">
    INSERT INTO images (
        ENTITY_TYPE, 
        ENTITY_ID, 
        IMAGE_URL, 
        DISPLAY_ORDER, 
        UPLOAD_DATE, 
        STATUS
    )
    VALUES (
        'USER', 
        #{userNo},    
        #{imageUrl}, 
        1,               
        SYSDATE,         
        'Y'              
    )
</insert>
<select id="emailCheck">
	select count(*)
	from users
	where email=#{email} and
		  user_no!=#{userNo}
		  
</select>

<select id="findId">
	select id
	from users
	where email=#{email} and
		  name=#{name}
</select>

<select id="findUserByIdAndEmail">
	SELECT *
    FROM users
    WHERE id = #{id} AND email = #{email}
</select>

<update id="updatePassword">
	UPDATE users
    SET pwd = #{pwd}
    WHERE id = #{id}
</update>

<select id="findUserByUuid" resultType="com.dealOn.user.model.vo.User">
	SELECT * FROM USERS WHERE UUID = #{uuid}
</select>

<select id="findReviewsBySellerNo" resultType="com.dealOn.user.model.vo.Seller">
	SELECT
		R.REVIEW_NO,
		R.REVIEW_TEXT,
		R.CREATE_DATE,
		R.RATE_SCORE,
		R.BUYER_NO,
		R.PRODUCT_NO,
		U.NICKNAME AS BUYER_NICKNAME,
		(SELECT IMAGE_URL FROM IMAGES WHERE ENTITY_TYPE='USER' AND ENTITY_ID=U.USER_NO AND ROWNUM=1)
		    AS BUYER_PROFILE_IMAGE,
		(SELECT IMAGE_URL FROM IMAGES WHERE ENTITY_TYPE = 'PRODUCT' AND ENTITY_ID = R.PRODUCT_NO ORDER BY IMAGE_ID ASC FETCH FIRST 1 ROW ONLY)
		    AS PRODUCT_THUMBNAIL
	FROM REVIEW R
			 JOIN USERS U ON R.BUYER_NO = U.USER_NO
	WHERE R.SELLER_NO = #{userNo} AND R.REVIEW_TEXT IS NOT NULL
	ORDER BY R.CREATE_DATE DESC
</select>
<select id="reviewDetail">
	 SELECT 
	        r.product_no, 
	        r.seller_no, 
	        r.buyer_no, 
	        r.create_date, 
	        r.review_text,
            r.review_no,
	        r.status, 
	        r.rate_score,
	        r.read_status,
	        u_seller.nickname AS seller_nickname, 
	        u_buyer.nickname AS buyer_nickname,
            p.name
	
	    FROM 
	        review r
	        JOIN users u_seller ON r.seller_no = u_seller.user_no 
	        JOIN users u_buyer ON r.buyer_no = u_buyer.user_no 
            JOIN product p on r.product_no = p.no
	    WHERE 
            r.review_no = #{reviewNo}
</select>
<update id="writeReview">
	update review
	set review_text = #{reviewText},
		rate_score = #{rateScore}
	where review_no = #{reviewNo}
</update>
<update id="reviewStatusUpdate">
	update review
	set read_status = 'Y'
	where review_no = #{reviewNo}
</update>
<select id="getReviewByProductNo">
	SELECT 
	        r.product_no, 
	        r.seller_no, 
	        r.buyer_no, 
	        r.create_date, 
	        r.review_text,
            r.review_no,
	        r.status, 
	        r.rate_score,
	        r.read_status,
	        u_seller.nickname AS seller_nickname, 
	        u_buyer.nickname AS buyer_nickname,
            p.name
	
	    FROM 
	        review r
	        JOIN users u_seller ON r.seller_no = u_seller.user_no 
	        JOIN users u_buyer ON r.buyer_no = u_buyer.user_no 
            JOIN product p on r.product_no = p.no
	    WHERE 
            r.product_no=#{productNo}
</select>
</mapper>